[2017-03-22 20:17] pramitchoudhary opened #48 "Support for global interpretation-PDP for deployed model"
This issue is to extend the support to enable the ability to interpret deployed model globally using pdp

[2017-03-22 20:33] pramitchoudhary opened #49 "Support for local interpretation for deployed model"
There could be potential performance issues that we might have to address here.

[2017-03-22 21:24] pramitchoudhary opened #55 "Algos: Supporting more specialized interpretation support for tree based models"
This is separate algorithm for interpreting trees and is useful only for the following types of models
* DecisionTreeRegressor
* DecisionTreeClassifier
* RandomForestRegressor
* RandomForestClassifier

This could possibly be an extension of the model interpretation interface. Extension because its model agnostic only wrt Tree/Ensemble based models.

[2017-04-04 18:46] pramitchoudhary opened #86 "Support for deployed model for interpretation"
1. Create a model in R and enable a REST API. There is an R package called plumber which could be useful. https://www.knowru.com/blog/how-create-restful-api-for-machine-learning-credit-model-in-r/ (_this will reduce dependency on DS deploy_). So, to be explicit the REST API runs locally, n thats ok, bcauz we are just enabling support for deployed model.
2. Using the above abstraction, we can see h

[2017-04-05 23:27] aikramer2 opened #93 "Better exception handling/exception capturing in compute_pd"
Because were distributing this function, tracebacks are kind of opaque. we should have more explicit logging and exception handling here to overcome this issue.

[2017-04-10 20:14] aikramer2 opened #104 "platform installation requires system packages"
sudo apt-get install libfreetype6-dev libxft-dev related to matplotlib

[2017-04-24 21:25] aikramer2 opened #111 "Combine InMemoryModel and DeployedModel"
The only distinction between these two classes is:

DeployedModel supports input/output formatting functions.
Deployed model uses the request library to call a service.

Input/Output formatters are a concept that could be useful to local models. Consider a local model that generates speech. An output formatter might encode outputs as a matrix. Therefore, both model types should have these options.

[2017-05-03 02:44] pramitchoudhary opened #123 "Enable stratified sampling for Column level sampling"
Lets see if we can add support for Stratified Sampling with the first release. This seems to be very important to me, what do you think @aikramer2.

[2017-05-03 19:15] pramitchoudhary opened #126 "Integration with gitter"
Lets figure out a way to add gitter integration to the repo for a common place to discuss issues, concerns or suggestion on the library.

[2017-05-03 21:14] aikramer2 opened #127 "re-architect package to eliminate redundant code"
There are redundant tests, parts of pdp (especially early in the func), argument handling could be abstracted away in various components. This is multi day project and may motivate several new tickets.

[2017-05-04 01:41] pramitchoudhary opened #128 "Weird halt while running unit_tests on mac"
Not sure why at this point in time, but tests on partial_dependence is halting at the following function `test_2D_pdp`.  However it passes on Ubuntu=14.04

[2017-05-09 22:31] aikramer2 opened #132 "improve performance of transformer func for classifier.predict"
Did a benchmark:

Original prediction time: 33.3 µs

Input formatter: 92.4 ns
Execute: 33.3 µs
Output formatter: 95.7 ns per loop
Transformer: 827 µs per loop

Need to speed up the transformer

[2017-05-10 18:36] aikramer2 opened #135 "Provide distribution on Conda"

[2017-05-10 20:28] aikramer2 opened #137 "ensure tests are named in accordance with new class/file names"

[2017-05-11 19:19] aikramer2 opened #142 "add unit test file for model objects"

[2017-05-16 22:40] aikramer2 opened #151 "Change variance calculation to variance of sample mean, not variance of predictions"

[2017-05-18 18:30] aikramer2 opened #152 "add n_sample keyword arg to feature importance"

[2017-05-19 15:57] aikramer2 opened #154 "Add option for multiprocessing for feature importance"

[2017-05-26 12:04] erogol opened #157 "Example does not work"
[code]

raises
[code]

after fresh install

[2017-05-26 15:57] pramitchoudhary commented on #157
@erogol apologies for that, the import should have been `skater.core.local_interpretation.lime.lime_tabular import LimeTabularExplainer`

[2017-05-26 16:57] #157 closed

[2017-05-26 16:59] pramitchoudhary commented on #126
done

[2017-05-26 16:59] #126 closed

[2017-05-26 17:00] pramitchoudhary commented on #137
Are there still discrepancies related to the naming ? If not lets close this issue. Possible to help verify this. @aikramer2

[2017-05-26 20:14] aikramer2 commented on #128
is this still an issue? can we close?

[2017-05-26 20:15] aikramer2 commented on #111
even after the addition of formatter functions to in memory models, its important that we retain different "execute" methods. closing this for now, but happy to reopen if we want to revisit this.

[2017-05-26 20:15] #111 closed

[2017-05-26 20:17] aikramer2 commented on #104
out of scope, closing. and resolved anyway.

[2017-05-26 20:17] #104 closed

[2017-05-26 20:18] aikramer2 commented on #48
this is supported

[2017-05-26 20:18] #48 closed

[2017-05-29 23:02] pramitchoudhary opened #158 "Add support to evaluate VW models using Skater"
This issue is to enable support for interpreting models built using VW. It might be interesting to compare VW models with other models in terms of performance - sklearn, h20

[2017-05-29 23:04] pramitchoudhary commented on #86
Closing this issue, lets open more specific ones to make sure all is well.

[2017-05-29 23:04] #86 closed

[2017-05-29 23:05] #49 closed

[2017-05-29 23:09] pramitchoudhary opened #159 "Improvements to computing Model Agnostic Variable Importance"
These improvements include supporting other evaluation techniques when information about target label is present - for e.g. AUC for classification or R^2 for regression
A possible [reference](http://ftp.uni-bayreuth.de/math/statlib/R/CRAN/doc/vignettes/caret/caretVarImp.pdf)

[2017-05-30 05:53] reiinakano opened #160 "Error in README example: LIME does not currently support classifier models without probability scores. If this conflicts with your use case, please let us know:"
[code]

[2017-05-30 18:51] aikramer2 commented on #160
ah thanks for pointing that. fixed with https://github.com/datascienceinc/Skater/commit/468605054ba6107748d3e2678caa9783f2de8499

[2017-05-30 18:51] #160 closed

[2017-06-01 17:46] aikramer2 opened #161 "model type inference breaks if classifier probabilities are all 0/1s"
Currently we infer whether a model provides probability scores by looking at model.predict(examples). We assume that if a model only is returning 0s and 1s, then its a classifier that does not return probability scores. This is false if the model perhaps overfit the data. The short term workaround for this (hopefully rare) issue is to provide as many examples to the model as possible, with the goa

[2017-06-02 20:01] aikramer2 opened #163 "Add progress bar for algos"

[2017-06-07 20:28] caterpillars opened #164 "Class label in ensemble example"
In the ensemble example (https://github.com/datascienceinc/Skater/blob/master/examples/ensemble_model.ipynb). The output of pd.DataFrame(data.target_names) is:

0	malignant
1	benign

But the class label in the following code seems to be the opposite :
exp = LimeTabularExplainer(X_test,
                           feature_names=data.feature_names,
                           discretize_continuous=Fal

[2017-06-08 04:04] benvandyke commented on #135
Submitted a PR to conda-forge: https://github.com/conda-forge/staged-recipes/pull/3092

[2017-06-08 05:30] pramitchoudhary commented on #135
thanks @benvandyke

[2017-06-08 17:21] aikramer2 commented on #164
Ah good catch, I believe you're correct. If you'd like to submit a PR please do, otherwise I can fix the issue this weekend.

[2017-06-09 12:28] viticano opened #166 "plot_partial_dependence with Python 3"
I have a TooManyFeaturesError using plot_partial_dependence with Python 3 that does not occur with Python 2.
It seems to be caused by "hasattr(feature_or_feature_pair, '__iter__')" in the _check_features function (line 139 of partial_dependence.py). String are iterable with Python 3 but were not with Python 2.
Replacing this line by "not isinstance(feature_or_feature_pair, str)" should correct thi

[2017-06-09 18:16] caterpillars commented on #164
Thanks for confirming. I will close this issue for now.

[2017-06-09 18:16] #164 closed

[2017-06-12 16:07] aikramer2 commented on #166
https://github.com/datascienceinc/Skater/pull/167

[2017-06-15 16:57] aikramer2 commented on #135
@benvandyke thanks for working this. I see that things look good on conda-forge. OK to close?

[2017-06-15 17:11] #166 closed

[2017-06-15 17:52] benvandyke commented on #135
Sure, I'll submit another PR with documentation updates once the feedstock has been created and I've tested the install.

[2017-06-15 20:04] aikramer2 opened #169 "ability to filter features in feature importance plots"
In the event that you have many features, you may want to reduce what you see in a feature importance plot, something like "top_n" or "min_importance" or "cumulative_variance_explained".

[2017-06-22 19:34] pramitchoudhary commented on #135
Are we good to close this issue @benvandyke @aikramer2 ?

[2017-06-22 20:13] pramitchoudhary commented on #135
thanks @benvandyke for looking into this

[2017-06-22 20:13] #135 closed

[2017-06-23 18:08] aikramer2 opened #171 "Improvements to documentation"
We need to ensure:

1) all the functionality of the package is covered in the docs.
2) all the code runs without error
3) all the function signatures are correct, and all the doc strings are helpful.
4) tutorials and examples are helpful and clear.

This task involves going through the docs, doc strings, and examples to ensure these points are addressed.

Enchancements:
1) Write a script that runs

[2017-06-23 20:12] #163 closed

[2017-06-27 01:54] pramitchoudhary opened #173 "change Interpretation to Interpreter"
* rename Interpretation to Interpreter
* This minor change, will also involve changing all the notebook examples accordingly.

[2017-06-28 20:06] aikramer2 opened #174 "coerce target_names argument to be a list"
when we allow filter_classes, we run target_names.index. If you pass in a numpy array (as one might do if they are using sklearnmodel.classes_), then this will break

[2017-06-30 16:13] #174 closed

[2017-06-30 16:25] aikramer2 commented on #173
@pramitchoudhary id prefer to wait for a major release for this, as it breaks all existing code.

[2017-06-30 19:37] pramitchoudhary commented on #173
@aikramer2 ya we can do that too, but not that worried about it. Because we have test-cases in place to catch all the errors.

[2017-07-07 03:21] aikramer2 commented on #173
Closing for now until were ready to change

[2017-07-07 03:21] #128 closed

[2017-07-07 04:46] pramitchoudhary commented on #173
lets keep this open @aikramer2

[2017-07-07 09:58] reiinakano opened #176 "Simplest way to use strings with local interpretation"
My input data is a Numpy array with string columns. Placing it in a LimeTabularExplainer results in an error. What is the best way to handle this?

[2017-07-11 04:44] reiinakano opened #177 "Use original LIME package together with Skater"
Is there any way at all to use the original LIME package with Skater? Basically I need the global interpretation from Skater and the better maintained local interpretation from LIME

[2017-07-11 05:00] aikramer2 commented on #177
Hey @reiinakano. I think the short term solution is to sync the current LIME package to ours, which I can do tomorrow. Were considering other longer term options at the moment, as I'd like this package to evolve into a much larger model interpretation package. Can you elaborate on what you found to be problematic with the version of LIME tied to our package?

[2017-07-11 05:01] aikramer2 commented on #176
Hey @reiinakano, thanks for the issue, can you copy and paste a snippet illustrating what you're doing?

[2017-07-11 05:09] reiinakano commented on #177
Nothing in particular right now, it's just that I prefer using the latest stable release of a package to avoid bugs as much as possible.

Alright then I guess we can just rely on you guys to always keep it in sync with upstream LIME :)

[2017-07-11 05:09] #177 closed

[2017-07-11 05:26] pramitchoudhary commented on #177
@reiinakano we will make sure that our included version is stable, if there is any specific error that you are encountering, just file an issue and we will make sure, its taken care of. Also, checkout our roadmap to get more ideas on where we are headed. Thanks for supporting us :)

[2017-07-11 05:27] reiinakano commented on #176
Never mind, this https://marcotcr.github.io/lime/tutorials/Tutorial%20-%20continuous%20and%20categorical%20features.html shows exactly what I want to do (categorical part)

[2017-07-11 05:27] #176 closed

[2017-07-12 05:32] pramitchoudhary opened #178 "Performance improvement by compiling using Cython"
Reference blog: https://www.ibm.com/developerworks/community/blogs/jfp/entry/A_Comparison_Of_C_Julia_Python_Numba_Cython_Scipy_and_BLAS_on_LU_Factorization?lang=en

It will interesting to see if one can improve performance of pdp and variable importance by specifying static types and compiling the same using Cython.

First step to start in this direction could be optimized the dataframes usage,
e.

[2017-07-12 07:18] aikramer2 commented on #178
there arent really any opportunities this at the moment.

[2017-07-14 01:36] CPapadim opened #179 "Binary image classification with Dense(1) model output not intuitively supported with image explanation"
In lime_image.py the way labels are determined is by looking at a matrix of prediction probabilities.  When the output of the final layer is encoded in a single unit, with high activity meaning class 1 and low activity meaning class 0, the only label available using this approach will be label 0, even though the model returns either 0 or 1 as a class.

Relevant section of the code in lines 226 to

[2017-07-14 01:47] aikramer2 commented on #179
thanks for raising @CPapadim

I would suggest adding an output_formatter to your model to make the final transformation, to the effect of [x, 1-x]. The problem (for now) is that its hard to distinguish regressions from classifiers if outputs are just a 1D vector of floats. The longer term solution is to bake this into the API, such that the user is explicit about whether its a regression model or

[2017-07-14 02:43] pramitchoudhary commented on #179
@aikramer2 do we have an issue open for "user explicitly defines regression or a classification model ?

[2017-07-14 08:00] CPapadim opened #180 "positive_only behaves incorrectly when there is no negative evidence for the requested label"
When you have an image that only has positive evidence for the requested label in `get_image_and_mask()` and no negative evidence, setting `positive_only = True` causes the entire image to be masked as if there is no positive evidence for the requested label.  Setting `positive_only = False` in that same scenario returns the positive evidence area of the image as expected.

[2017-07-14 16:25] #179 closed

[2017-07-15 00:18] aikramer2 commented on #177
@reiinakano synced

[2017-07-20 15:52] austinburks opened #181 "TooManyFeaturesError for partial dependence plot when providing only 1 feature"
When attempting to run the example on the readme, a TooManyFeaturesError gets raised even though I am providing only 2 features. The same error gets thrown when I use only 1 feature. The code I ran is below:
[code]
However, if I examine the Interpretation object, and call _check_features it behaves as expected:
[code]

My package versions are:
[code]

[2017-07-20 16:05] pramitchoudhary commented on #181
thanks for reporting @austinburks. Looking into it

[2017-07-20 16:08] aikramer2 commented on #181
Hey @austinburks im trying to replicate your error, ive tried python 2.7, 3.5, and 3.6, and am not seeing this. Any more details we should be aware of?

[2017-07-20 16:11] aikramer2 commented on #181
oh @austinburks can you install the latest skater from pip? version 1.0.2

[2017-07-20 16:33] austinburks commented on #181
@aikramer2 That did it, thanks for the help! Closing the issue

[2017-07-20 16:33] #181 closed

[2017-07-26 18:47] aikramer2 opened #182 "Feature importance sampling"
User should be able to select the number of samples on which to compute fi scores.

[2017-07-27 21:33] #154 closed

[2017-08-14 07:06] pramitchoudhary commented on #180
thanks @CPapadim for reporting this, as a part of the story also addressing the need to have a basic image interpretation example

[2017-08-18 23:51] aikramer2 opened #185 "Update Readme with clear info about the algorithms supported with visuals"
Currently there are no examples of the visuals Skater provides in the README. We should add some canonical plots to help let new users what they can do with the library.

[2017-08-23 00:36] pramitchoudhary commented on #180
@CPapadim have added an example on simple interpretation. Like you pointed out, there appears to ambiguity in the samples generated. Will need more time to look into the consistency of interpretability with images

[2017-09-13 06:17] #182 closed

[2017-09-13 06:17] #159 closed

[2017-09-13 06:17] #152 closed

[2017-09-13 06:18] #151 closed

[2017-09-13 06:35] aikramer2 opened #187 "Update Docs with V.1.0.3 Changes"

[2017-09-13 23:50] aikramer2 opened #188 "Add training_labels handling to interpreter.load_data"

[2017-09-14 05:10] reiinakano opened #189 "InMemoryModel incorrectly identifying output_type as 'multilabel indicator' resulting in ModelError: If using classifier without probability scores, unique_values cannot be None"
Code to reproduce:

[code]
raises
[code]

Reason for this is when identifying output type, sklearn.utils.multiclass.type_of_target outputs "multilabel-indicator" because the output probabilities look like this:

[code]

In my use case, this happens often enough to bother me. Not sure how best to solve this, but I think one way is to allow the user to manually specify `output_type` when it is known

[2017-09-14 05:44] pramitchoudhary commented on #187
@aikramer2 lets hold on the doc changes, and add notebook example or update an existing one. This will help in validating the flow of the api calls.

[2017-09-14 16:34] aikramer2 commented on #189
Hey @reiinakano, thanks for raising. This is caused by this issue:
https://github.com/datascienceinc/Skater/issues/161
Ill fix this up as soon as I can. In the mean time, I'm not sure theres a great workaround. You might try finding an example that would cause the model to return something other than 0 or 1, or setting model.probability = True (I think this might trigger an error though). I expect

[2017-09-15 02:56] aikramer2 commented on #189
@reiinakano this should now work:

[code]

[2017-09-15 02:56] #189 closed

[2017-09-15 03:05] aikramer2 commented on #180
@CPapadim @pramitchoudhary can we move this over to https://github.com/datascienceinc/lime/issues, this isnt part of the core skater package

[2017-09-15 06:45] pramitchoudhary commented on #180
@aikramer2 it's fine for us to handle to keep the discussion here. Easier to manage and keep track of progress

[2017-09-15 06:53] pramitchoudhary commented on #127
@aikramer2 as we have improved the code, do you feel the need to for this ticket ? If you agree them we can close this and open more specific one articulating the changes. What do u think ?

[2017-09-15 06:54] pramitchoudhary commented on #123
@aikramer2 did we already add support for it ? Can't remember from the top of my head.

[2017-09-19 19:38] aikramer2 opened #192 "tie ground truth labels to training data data manager object"
Current feature importance will break if using method='conditional-permutation' and  the size of the dataset is larger than the number of samples. This is because feature importance samples the input, but there's no corresponding sampling of the training labels. This could be solved by tying the two together in the same datamanager.

[2017-09-19 22:19] aikramer2 opened #193 "Ensure all example notebooks run as part of travis builds"
(see title)

[2017-10-10 21:13] aikramer2 commented on #192
solved by https://github.com/datascienceinc/Skater/pull/198 closing

[2017-10-10 21:13] #192 closed

[2017-10-10 21:14] aikramer2 commented on #161
solved by https://github.com/datascienceinc/Skater/pull/190, closing

[2017-10-10 21:14] #161 closed

[2017-10-10 21:15] aikramer2 commented on #158
@pramitchoudhary for this, i dont see what the limitation would be, youd just need to provide input_formatter/output_formatter and a callable. Would you like to an add an example?

[2017-10-10 21:20] pramitchoudhary commented on #158
@aikramer2 ya ideally there should not be an issue. The output from vw is a little different compared to other frameworks, so just need to check on that. Also, was hoping to revisit our philosophy on providing some intuitive wrappers for input_formatter/output_formatter with this one. May be we can provide some custom input/output formatter for well supported and consistent libraries. What do you

[2017-10-10 21:24] aikramer2 commented on #142
this was done a while back, closing

[2017-10-10 21:24] #142 closed

[2017-10-10 21:25] aikramer2 commented on #93
no longer an issue, since we try to run as single process if multiprocess fails, closing

[2017-10-10 21:25] #93 closed

[2017-10-10 21:32] aikramer2 commented on #132
was able to reduce run time by limiting swapping to encoders for binarize function

[2017-10-10 21:32] #132 closed

[2017-10-11 17:34] aikramer2 commented on #123
A while back i reimplemented DataManager.generate_column_sample with:
[code]

so all the sampling methods we provide for sampling an entire dataset are available at the column level. Closing this.

[2017-10-11 17:34] #123 closed

[2018-01-16 03:28] pramitchoudhary opened #203 "Extending partial dependence for spark models"
The idea with the ticket is to explore the possibility of extending the support of PDP for MLLib models as well.
* As In-Memory Model
* As Deployed Model
Depending on the complexity, there might be a need to split this task into sub tickets.

[2018-01-16 18:02] pramitchoudhary commented on #203
Also, not sure why 'Assignees' is not allowing to include you guys. Will figure it out.

[2018-03-06 18:09] pramitchoudhary opened #207 "[Interpretable Model] Add support for Interpretable Decision sets"
This ticket is to extend the coverage for supporting natively interpretable models(_Rule-based model_). Interpretable Decision sets are similar to Bayesian Rule List(BRL) in-terms of the human understandable IF-ELSE conditional statements. However, unlike BRL the conditional rules are unordered and independent(flat IF-THEN statements).
For more information check out the paper mentioned below,
"H.

[2018-03-07 03:53] pramitchoudhary opened #210 "Create a docker file to encapsulate dependencies"
This ticket is to add dockerfile template to handle installation across different OS types. This might be more convenient for a lot of folks who like creating customized images of their dev environment

[2018-03-26 09:32] alay18 opened #212 "Kernel dies when running plot_partial_dependence"
Hello,

I'm currently having trouble running plot_partial_dependence for my XGBoost model.

My kernel dies when I try to run the script, and this happens also if I run partial_dependence:
The kernel appears to have died. It will restart automatically.

In terminal, it says:
malloc: *** error for object 0x100007f87ba95b8c: pointer being freed was not allocated
*** set a breakpoint in malloc_error_b

[2018-04-06 18:02] Nithanaroy opened #214 "skater.util.exceptions.ModelError: Predict function must be callable"
Was checking out some examples in the documentation - https://datascienceinc.github.io/Skater/reference/interpretation.html#skater.core.global_interpretation.feature_importance.FeatureImportance.plot_feature_importance

[code]

gave this error,

[code]

[2018-04-07 20:57] aikramer2 commented on #214
https://github.com/datascienceinc/Skater/pull/215
and https://github.com/datascienceinc/Skater/pull/216

[2018-04-07 20:58] aikramer2 commented on #214
@pramitchoudhary ^^

[2018-04-07 21:07] aikramer2 commented on #212
Looks like this is an issue with multiprocessing/xgboost compatibility, see https://github.com/dmlc/xgboost/issues/2163

@pramitchoudhary might be worth checking to see if changing the spawner to a forkserver will be effective. Would need to check that thats a stable spawner on the major platforms.

@alay18 in mean time, can you try setting n_jobs=1 if you're running pdp with an xgboost model?

[2018-04-09 08:25] alay18 commented on #212
@aikramer2 Hey, I've tried setting n_jobs = -1 but the same thing happened. Please let me know if there's any updates on your side.

[2018-04-09 16:08] aikramer2 commented on #212
@alay18 try n_jobs=1, not -1. n_jobs=-1 will use as many processes as are available.

[2018-04-09 16:14] alay18 commented on #212
@aikramer2 thanks for pointing that out, just tried n_jobs = 1, the kernel still died.

[2018-04-11 19:29] pramitchoudhary commented on #214
thanks for looking into these guys. Merging the fixes @Nithanaroy @aikramer2

[2018-04-11 20:59] pramitchoudhary commented on #212
thanks, @aikramer2. @alay18 did the issue resolve when using n_jobs=1?

[2018-04-11 21:01] pramitchoudhary commented on #214
Post merging PRs related to 214, this should be resolved right? ok to close this issue?

[2018-04-11 21:01] pramitchoudhary commented on #203
@benvandyke any luck with this one?

[2018-04-11 21:03] pramitchoudhary commented on #187
With the recent doc changes that you just pushed @aikramer2; is it fair to assume docs related to v1.0.3 is taken care of? Shall we close this one?

[2018-04-12 04:56] Nithanaroy commented on #214
Thank you every one for addressing this.

Changing the code to what @pramitchoudhary suggested in the new doc, I am getting a `DataSet` error which I believe is not true.

[code]

gives the error,
[code]

[2018-04-12 11:51] alay18 commented on #212
@pramitchoudhary hello, unfortunately using n_jobs = 1 did not resolve the issue.

[2018-04-16 18:41] pramitchoudhary commented on #214
Interesting, let me look into it and get back to you

[2018-04-17 16:54] benvandyke commented on #203
@pramitchoudhary  Haven't had a chance to look into this yet, I've been doing more ETL and pipelines than modeling lately.

[2018-04-18 07:04] pramitchoudhary commented on #214
@Nithanaroy
Try the below mentioned code, and see if it works on your end (tried on python3.6)

    from skater.model import InMemoryModel
    from skater.core.explanations import Interpretation
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.datasets import load_iris

    X, y = load_iris(True)
    rf = RandomForestClassifier()
    rf.fit(X, y)

    interpreter = Interpre

[2018-04-21 22:05] CPapadim opened #219 "Can't pip install 1.0.3"
This version is listed as latest on pypi, but I get this when I try to install it:

`Could not find a version that satisfies the requirement skater==1.0.3 (from versions: 1.0.0b10, 1.0.0b11, 1.0.1, 1.0.2, 1.1.0b1)`

1.0.2 installs just fine (and also installs by default with `pip install skater`)

[2018-04-23 05:26] pramitchoudhary commented on #219
@CPapadim thanks for reporting.  Let check and get back to you.
Try the latest beta version for the time being, `sudo pip install -U --no-deps --force-reinstall skater==1.1.0b1` ( _This has the latest features_ )

[2018-04-23 17:53] pramitchoudhary commented on #219
@CPapadim I just tried installing v1.0.3 on ubuntu x86_64 16.04.4 LTS(xenial), it installed fine for me.
`sudo pip install -U --no-deps --force-reinstall skater==1.0.3`.

[2018-04-23 17:56] pramitchoudhary commented on #212
@alay18 will it be possible to share the code(or example snippet) for the XGBoost model that you are trying to use. Apologies for the slow response, have been beaten down with releasing new features and documentation. Let's get this resolved.

[2018-04-23 21:58] pramitchoudhary commented on #219
@johnchuckcase haven't tried on Mac, investigating. In the meantime, can you try `sudo pip install -U --no-deps --force-reinstall skater==1.1.0b1` on an ubuntu box, if possible?

[2018-04-23 22:12] pramitchoudhary commented on #219
@johnchuckcaseI just tried `pip install skater==1.0.3` and `pip install ../skater-1.0.3-py2-none-any.whl` on mac using python2.7.9, they both worked fine.
Are you able to see the v1.0.3 here https://pypi.org/project/skater/#files?

[2018-04-24 13:25] alay18 commented on #212
@pramitchoudhary here it is:

#specify XGB for inner loop - grid search
xgb = XGBRegressor(objective='reg:linear', booster='gbtree', n_jobs= -1)

#XGB parameters for grid search
xgb_grid = {"max_depth" : [6],
          "learning_rate" : [0.2],
          "gamma" : [0],
          "n_estimators" : [150],
          "min_child_weight" : [1],
          "base_score" : [0.5],
          "subsample" : [1],

[2018-04-25 02:11] aikramer2 commented on #219
@pramitchoudhary historically we've released source packages; looks like 1.0.3 is distributed as a wheel, and therefore will only work on the specified platforms.

[2018-04-25 15:41] pramitchoudhary commented on #219
@aikramer2 ya agreed. Are you able to install v1.0.3 or is something wrong somewhere? I tried a couple of times and things seem all good at my end

[2018-04-25 15:42] pramitchoudhary commented on #212
@aikramer2 will you have time to take a look at this and see if we can resolve it or is it something that we would need help from the XGBoost guys?

[2018-04-26 05:45] CPapadim commented on #219
Also this was with Python 3 so not sure if that's why.  I hope you guys are supporting Python 3

[2018-04-27 07:46] pramitchoudhary commented on #219
@CPapadim I tried installing on a different Mac as well and executing `sudo pip install --user skater==1.0.3` worked just fine. Yes, we do support python3.5, python3.6, and python2.7. Would also suggest using conda to install python version. Depending on how the system is set up, there might be an issue with the pip version as well. To make sure right pip version is selected for installation, one

[2018-04-27 10:00] gkjegan commented on #214
Hi,

I tried the above code, i am getting
TypeError                                 Traceback (most recent call last)
<ipython-input-35-3b1885b64e41> in <module>()
----> 1 plots = interpreter.feature_importance.plot_feature_importance(model, ascending = False)

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/skater/core/global_interpretation/feature_importance.pyc in

[2018-04-27 22:42] CPapadim commented on #219
I'm installing python with Miniconda, I also tried upgrading pip, and using your various commands, none of it can find version 1.0.3.  My setup is pretty minimal - the default xenial_base dockerenv, and installing python with Miniconda.

Is 1.1.0b1 stable?  Pypi suggests not

[2018-04-28 16:26] pramitchoudhary commented on #214
@gkjegan can you try with python3.6?

[2018-04-28 18:45] pramitchoudhary commented on #127
@aikramer2 Closing this ticket. We do need re-structuring but lets specific ones as we will have to re-structure the code in stages. Doing all at once is too risky.

[2018-04-28 18:46] #127 closed

[2018-04-29 00:52] pramitchoudhary opened #221 "Test Image Interpretation with DropConnect"
https://cs.nyu.edu/~wanli/dropc/

[2018-04-29 18:12] pramitchoudhary commented on #219
Thanks, @aikramer2. can we remove 1.0.3 as well?

[2018-04-30 05:50] CPapadim commented on #219
Thanks, looks like 1.0.4 works

[2018-04-30 05:50] #219 closed

[2018-04-30 16:04] gkjegan commented on #214
Failing at same line of code, but with the slightly different message for python 3.6
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-37-3b1885b64e41> in <module>()
----> 1 plots = interpreter.feature_importance.plot_feature_importance(model, ascending = False)

/Library/Frameworks

[2018-04-30 21:37] pramitchoudhary commented on #219
thanks, guys @CPapadim @aikramer2

[2018-05-04 19:00] pramitchoudhary commented on #214
@gkjegan, tried the code on a fresh install with python3.6 and skater==1.0.4/1.1.0b1. Everything worked fine. Possible to check on the python installation. Recommended one is from conda
`conda install python=3.6`

[2018-05-08 00:07] pramitchoudhary opened #223 "Update conda with the latest binaries"
To allow the users the flexibility to install either from pip or conda, its important that we maintain consistency on both package managers.

[2018-05-16 02:12] pramitchoudhary commented on #214
I guessing things work with the new release guys. Closing this issue for now, if things still don't work for some reason, then let's open a new bug.

[2018-05-16 02:23] #214 closed

[2018-05-16 21:04] #171 closed

[2018-05-16 21:04] #185 closed

[2018-05-16 21:06] pramitchoudhary commented on #212
@aikramer2 Did you get a chance to take a look at this issue?

[2018-05-21 06:11] pramitchoudhary opened #228 "Add support to visualize individual layers for DNNs"
Visualizing individual layers along with inferring DNNs based on inputs and outputs will provide a comprehensive view of the network.

[2018-05-27 00:09] pramitchoudhary opened #229 "Weird import error occurring with rpy2 post including scikit-image"
Have not been able to resolve the below-mentioned error. But, it seems to be occurring with other libraries as well, https://github.com/pytorch/pytorch/issues/2575

======================================================================
ERROR: skater.tests.test_rule_list (unittest.loader._FailedTest)
----------------------------------------------------------------------
ImportError: Failed to impor

[2018-05-31 02:00] pramitchoudhary opened #231 "Add support to build using Circle CI"
Travis at time seems to be slow, having an alternative build environment might help in fastening up the process

[2018-06-16 17:35] pramitchoudhary commented on #212
looking into this, apologies for all the delays.

[2018-06-17 07:55] pramitchoudhary commented on #212
@alay18 @aikramer2 alright still a little blind on how XgBosst is handling concurrency in-terms of splitting the trees internally but there seems to be some reported issues in the way XgBoost handles thread pool internally and python's multiprocessing libraries. For more information checkout the [FAQ](http://scikit-learn.org/stable/faq.html#why-do-i-sometime-get-a-crash-freeze-with-n-jobs-1-under-

[2018-06-17 09:30] pramitchoudhary commented on #212
@alay18  Added a notebook example [here](https://github.com/datascienceinc/Skater/blob/master/examples/xgboost_regression_example.ipynb)
Marking this issue as resolved. For a better solution, will open a different ticket focusing on resolving the thread pool handling. Feel free to reopen the issue if things still dont work on your end.

[2018-06-17 09:30] #212 closed

[2018-07-03 23:20] pramitchoudhary opened #236 "Add support for enabling interpretation by visualizing decision boundaries"
More details coming soon

[2018-07-13 07:20] IamAVB opened #237 "Running sample classification code on iris dataset creates this issue"
---------------------------------------------------------------------------
FeatureImportanceError                    Traceback (most recent call last)
<ipython-input-86-102596773038> in <module>()
      4 interpreter = Interpretation(X_test, feature_names=data.feature_names)
      5 model = InMemoryModel(models['knn'].predict_proba, examples=X_train)
----> 6 plots = interpreter.feature_importance

[2018-07-16 07:06] pramitchoudhary commented on #55
Closing because this is not relevant anymore

[2018-07-16 07:06] #55 closed

[2018-08-07 13:46] bacook17 opened #241 "DataManager does not work with Pandas Dataframe"
When a DataManager is loaded with a Pandas DataFrame, calls to the "feature_info" property raise a ValueError. It comes from generate_column_sample creating individual DataManagers for each column, which are Pandas Series, not DataFrames.

I am adding a pull-request which updates test_data.py to include a failing test, and will work on a correction.

[2018-08-07 14:05] bacook17 commented on #241
Corrected in #242

[2018-08-13 03:02] pramitchoudhary opened #243 "Code improvements"
* correcting handling asserts
    - replacing `assert condition` with the pattern
      ` if not condition:
             raise AssertionError()
       `

[2018-08-13 08:14] venkatavamsy commented on #243
Interested, Can I work on this ?

[2018-08-14 05:36] pramitchoudhary opened #244 "Add support for interactive tree visualization using d3"
This will help in visualizing the decision nodes of a surrogate model with convenience.
reference: https://bl.ocks.org/ajschumacher/65eda1df2b0dd2cf616f

[2018-08-15 04:08] pramitchoudhary commented on #236
@dipanjanS updated the ticket to a new milestone.

[2018-08-19 02:32] pramitchoudhary commented on #241
#242 has been addressed and merged. Thanks again for the help @bacook17

[2018-08-19 02:32] #241 closed

[2018-08-19 06:46] #137 closed

[2018-08-19 06:57] pramitchoudhary opened #249 "Add support for Shapley scores"
Enable support for computing Shapley scores to quantify feature attribution(positive and negative influence)

Reference:
- Consistent Individualized Feature Attribution for Tree Ensembles (https://arxiv.org/abs/1802.03888)
- A Unified Approach to Interpreting Model Predictions (https://arxiv.org/abs/1705.07874)
- https://www.youtube.com/watch?v=wjd1G5bu_TY

[2018-08-19 07:12] pramitchoudhary opened #250 "Add support for influence functions"
A statistical approach to trace the most influencing data points from the training set responsible for a given prediction
Reference:
- Understanding Black-box Predictions via Influence Functions(https://arxiv.org/pdf/1703.04730.pdf)

[2018-09-05 22:57] pramitchoudhary commented on #237
@IamAVB are you still facing issue with this? Will it be possible to try with v1.1.1b3, so when installing state skater==1.1.1b3?

[2018-09-13 01:09] pramitchoudhary opened #257 "Explore the importance of nodes discarded during the pruning process"
During post pruning of TreeSurrogates some of the not so important nodes gets rejected if the agreed model's performance is not compromised. Will it be possible to add more insight in-regards to that?
This may also involve changes to the API.

[2018-10-04 07:17] pramitchoudhary opened #259 "Improve interpretation via decision boundary"
* Improve on existing implementation
* Enable support for handling multi-dimensional data
   Reference: https://staff.fnwi.uva.nl/m.a.migut/migut2015.pdf

[2018-10-31 00:20] dipanjanS opened #263 "Potential issue with Tree Surrogate rules as text"
Hi, as discussed when I was building my tutorial on the census or adult dataset. The surrogate tree model throws an error when trying to get the rules as text.

Code and data I'm using is in my tutorial: http://nbviewer.jupyter.org/github/dipanjanS/data_science_for_all/blob/master/tds_model_interpretation_xai/Human-interpretable%20Machine%20Learning%20-%20DS.ipynb

Code causing an error (not in th

[2018-12-01 01:34] atyamsriharsha opened #265 "Error while running tests on ubuntu"
======================================================================
ERROR: skater.tests.test_data (unittest.loader._FailedTest)
----------------------------------------------------------------------
ImportError: Failed to import test module: skater.tests.test_data
Traceback (most recent call last):
  File "/home/sriharsha/miniconda/envs/skater-test/lib/python3.6/unittest/loader.py", line 428, i

[2018-12-01 02:15] darenr commented on #265
Can you please provide more details, version of Ubuntu, version of python for example.

[2018-12-01 03:20] atyamsriharsha commented on #265
Python 3.6.7 :: Anaconda, Inc.
Ubuntu 18.04.1 LTS
can you also provide me instructions to install arg_parser module ?

[2018-12-03 01:04] darenr commented on #265
there is no install for the arg_parser module, it's part of the Skater source code. Take a look in skater/tests/arg_parser.py

This makes me wonder how you installed Skater, are you installing the source from github and running the tests with:
```python skater/tests/all_tests.py```
I just tried it on Same Ubuntu with 3.6.7 from the source tree and had no problems. Maybe this is a packaging issue i

[2018-12-03 17:32] #265 closed

[2019-01-26 01:59] m-richards commented on #169
Can I work on this?

[2019-01-31 13:29] jamesmyatt opened #269 "Conflict with marcotcr/lime"
The dependency on your ds-lime fork creates a conflict with the original marcotcr/lime library, which is now far ahead of your fork. Your fork hasn't been updated in nearly 1.5 years.

Can you consider either:
* Contributing your changes to the original lime library and depend on that, or
* Vendoring the lime library inside skater.

I suppose that an alternative would be to rename the module in ds

[2019-02-01 06:43] pramitchoudhary commented on #269
@jamesmyatt the project is currently in standby mode and the principal contributors are not in active development mode. Apologies for the inconvenience. Let me see if the forked dependency could be resolved. Will update.

[2019-02-04 19:05] Gunnvant opened #270 "pdp fails for xgboost classifier"
I am trying to create a pdp using an Xgboost classifier. Even after setting the n_jobs to 1, the code seems to fail. Following trace is obtained:
[code]

[2019-02-04 21:57] darenr commented on #270
This looks to be environmental, the failure happens inside tensorflow very likely due to configuration error. If you write a reproducible test case then we can take a look.

[2019-02-05 04:58] Gunnvant commented on #270
If the code + dataset will do, then here is the code that produces this error:
[code]
Here is the detail of the environment:
[code]

Here is the error trace (I had created a new environment this time)

[code]

[2019-02-05 07:33] Gunnvant commented on #270
Closing the issue as it was due to old skater version in anaconda channels.

[2019-02-05 07:33] #270 closed

[2019-02-06 15:12] janphhe opened #271 "InMemoryModel throws error due to accidently have classes"
Hi there!

While using the very cool (!) skater package (thank you for that!) I get the following error message: ModelError: If using classifier without probability scores, unique_values cannot be None

The context is:
I want to get the inter tree variance for the feature importance. So, I loop over all trees and aggregate the variance.
Some of the trees score (more or less) accidently classes (1.

[2019-02-07 14:33] jklaise commented on #269
@jamesmyatt that's a shame, are there any ETAs on the decisions of what will happen to the library? Also it would be useful to have this flagged on the main readme.

[2019-02-11 03:53] kevin-yauris opened #273 "[Question] Can I use skater with pyspark dataframe?"
I wonder is there are any way I can use skater to my pyspark dataframe?

[2019-02-19 15:57] Leinadj opened #274 "Feature Importance Source"
Hi All,

I have a question regarding the Feature Importance function. The reference that is cited is an overview paper, hence I am not sure which method is concretely implemented in the function to determine the feature importance. Thanks for your efforts and help with this issue!

[2019-02-26 00:17] finnhacks42 commented on #274
Looking through the code, I can see that the feature importance algorithm is permutation based.

1) Take the original dataset + original predictions
2) permute feature f (eg if it is categorical replace it with random samples from f with replacement - more complicated for continuous variables)
3) predict outputs on permuted dataset
4) feature importance for f is a metric measuring the difference b

[2019-03-05 11:24] jamesmyatt commented on #269
@pramitchoudhary I've looked at merging the ds-lime fork into the upstream library and there are no changes to keep. Can the dependency be updated to use the upstream library?

[2019-03-14 01:37] jschular commented on #212
I'm still having this issue on some notebooks

[2019-03-14 01:51] jschular commented on #212
FYI this kills the kernel

[2019-03-19 14:27] mattivi opened #275 "plot_feature_importance got stuck"
I am running the plot_feature_importance in a jupyter notebook (python 3.6) but it got stuck without providing any error. Code is the following
[code]
the interpreter.feature_importance.plot_feature_importance is running endlessly, without consuming CPU resources. How to debug it and find why it get stuck? Or any clue why this behaviour?
Many thanks!

[2019-03-29 10:23] fabiomercorio opened #276 "Paper discussing how skater works"
Hi
I would gently ask to know if exists a paper that describes how skater works, or which techniques it employs, otherwise one uses a black box algorithm to explain another black box ones.

Thank you!

[2019-03-29 15:54] darenr commented on #276
probably a good place to start would be here: [Understanding model predictions with LIME](https://towardsdatascience.com/understanding-model-predictions-with-lime-a582fdff3a3b) that blog also links to the original LIME paper.

[2019-03-29 15:54] #276 closed

[2019-04-10 11:27] marcayda commented on #275
Hey Hi, Do you have any solutions for this? I have the same problem :S

[2019-04-10 11:34] mattivi commented on #275
No. It works only if I reduce the number of samples to 15000, so in my case X_real_XAI has a dimension of (15000,7).
However, that's not the purpose of explainability as I need to evaluate for all rows in the original dataset, that in my case are much higher.

[2019-04-15 13:09] naanunaane opened #277 "DeployedModel not working with x-www-form-urlencoded content"
[code]

I have passed headers given above as the argument for request_kwargs in the DeployedModel function, but the function still seems to be passing 'application/json' type content to my endpoint. I had a friend look at the code and he mentioned that the problem might be in the function _execute of deployed_model.py. The package 'requests' utilises the argument json=data, to send a JSON to the U

[2019-04-16 14:37] mattivi commented on #275
Any more hint how to solve this problem?

[2019-04-16 19:00] marcayda commented on #275
I installed Skater with Conda and I don't have this problem anymore, but I can't use de feature _n_samples_, I see the next message in console _TypeError: plot_feature_importance() got an unexpected keyword argument 'n_samples'_, I don't use de Jpyter Editor, maybe is for this reason the error message.

In this link is the description of the install with Conda

https://oracle.github.io/Skater/inst

[2019-04-21 05:27] naanunaane commented on #277
Created a pull request with the changes. See https://github.com/oracle/Skater/pull/278. Those trying to solve the problem before the merge gets approved can see the changes in the code and apply it.

[2019-04-21 05:27] #277 closed

[2019-05-13 13:12] jlevy44 opened #279 "Pytorch Support"
Is there planned support for Pytorch models?

Thanks!

[2019-07-02 22:02] Sandy4321 opened #281 "is it working on Windows?"
is it working on Windows?

[2019-07-15 15:07] scowan1995 opened #282 "Support for time series models, specifically RNNs"
Hi,
Is there currently any support / documentation for PDPs on recurrent neural networks on tensorflow? I imagine not since I get an error saying "skater.util.exceptions.DataSetError: Invalid Data: expected data to be 1 or 2 dimensions, Data.shape: 3" when 3d data is required for keras rnns using the tensorflow background.

If there is no support for this feature I could create it and merge in a P

[2019-07-30 16:08] #269 closed

[2019-08-04 18:36] aikramer2 opened #283 "Project Roadmap"
Hey all, I've had to step away from this project for some time, but I'd love to step back into it and start contributing to this project. I thought I'd begin by enumerating what I think are some key things to work on:

*Stability and bug fixes*
There are a number of bugs related to the dual support of pandas and numpy as training data arrays. I definitely think this is key draw of the library, but

[2019-08-04 18:53] darenr commented on #283
Thanks Aaron, always willing to merge your PRs. The model-specific merge was thought to be a useful addition (as would other model-specific approaches) because I don't believe there's anything special about the idea of always treating a model as a black box, there are times when more information is available and aggregating over some sample of the training data to arrive at a global explanation wi

[2019-08-04 19:28] aikramer2 commented on #283
Thanks @darenr. Re: roadmap, i'd love to get a doc going and start assigning the tasks.

I do disagree that there's nothing special about treating a model as a blackbox, and that that shouldn't be a constraint of the library. The the main Skater's API ( all algorithms in the interpreter object supporting anything that implements the model and dataset interface) was intended to target model agnosti

[2019-08-04 19:54] darenr commented on #283
We can keep Skater to model agnostic, however, the approach of global interpretation as a function of the aggregate of local using model agnostic approaches can often be misleading. But given the lack of strong contributor base, staying focused on keeping things small is worthwhile.

Getting started with a roadmap doc would be a good idea. Oracle will also help as much as the team here can. One pl

[2019-08-17 11:54] HajarHkm opened #284 "partial dependence plot for a keras RBFN"
I added a keras custom layer as the RBF middle layer of my RBFN.. Feature Importance technique worked fine but plot_partial_dependence gave the error of unknown layer RBF layer in deserialize_keras_object.
Isn't it supposed to get the relationship between the feature and outcome considering the model as blackbox.
Any remark or advice would sure be helpful, thank you!

[2019-08-18 03:38] lrq3000 commented on #189
The probability keyword is not available anymore, I guess it has been deprecated and replaced with the `unique_values` keyword?

[2019-08-18 04:55] lrq3000 opened #285 "OverflowError: Range exceeds array bounds"
I run into this problem when I try to use Skater (first time) on a catboost classifier.

Here is my code:
[code]

Here is the output:
[code]

[2019-08-18 05:09] lrq3000 commented on #285
After a bit more debugging, here is on what data it chokes:

```('myvar', nan, nan, 4)```

The two nan are window[0] and window[1]. So it means that my variable contains nans, and it's a float. I think this issue arises because Skater does not expect to see nan values in floats. How should I handle that for Skater to accept the input?

[2019-08-18 05:32] lrq3000 commented on #285
After more debugging, it's not about having nans in my variable. The issue comes from the following line:

```bins = list(np.percentile(self[feature_id], percentiles))```

Bins is always full of nan. But if I do manually the exact same calculation in my notebook, by copying over the percentiles generated by Skater, I get a correct result and no nans. I can't understand what's happening here, looks

[2019-08-18 05:51] lrq3000 commented on #285
Found the culprit: it's indeed because there are nan in the variable `X_train` as inputed in `interpreted.load_data()`. I thought it was using `X_test` as in `InMemoryModel()` since this is where the exception happened, but in fact it was still using `X_train` at this stage.

My quick and dirty fix: replace the line above (line 436 in `skater/data/datamanager.py`) by:

`bins = list(np.percentile(s

[2019-08-19 03:04] lrq3000 commented on #285
Note: this was all on Skater 1.0.2, the last version released on conda-forge, but there is now v1.1.2 by derickl:
https://anaconda.org/derickl/skater

I'll report here if I run into a similar issue.

[2019-08-19 11:35] lrq3000 commented on #285
With the latest release, I again get an error about nans in floats:

[code]

The error is however more complex now as it is happening inside scikit-learn... As a quick workaround, I imputed my float columns with the median value, and I feed it to Skater, but not to my Catboost classifier which uses the original dataset with nan values, and it seems to work.

Here is my code for those with a simila

[2019-08-19 11:35] #285 closed

[2019-09-05 08:39] ErnstDinkelmann commented on #223
Hi Guys

Working with Conda on Windows.
Installing with pip directly or even cloning and then "python setup.py install" giving issues - permission denied etc, so wheels failing to build. Even installing with --user in the latter case, seems to work, but "from skater import Interpretation" then fails on 1.1.2b which I cloned.

Interested in the Surrogate Trees and functionality not in the current c

[2019-09-12 03:31] thoth291 commented on #207
It would be lovely to get this implemented. Any plans?

[2019-09-23 08:22] pucktada opened #286 "error from 'pip install'"
when i tried to install "Skater" on my macbook with pip i got this error, anyone have ideas how to fix this? thanks.. (my environment is python 3.7.4)

Building wheels for collected packages: skater, wordcloud
  Building wheel for skater (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /usr/local/opt/python/bin/python3.7 -u -c 'import sys, setuptools, tokenize; sys

[2019-09-28 15:20] adimyth commented on #286
I get the same error. Can't install it on macbook

[2019-09-28 17:28] adimyth commented on #286
Hey @pucktada using conda for installation worked for me. Try this out -

`# !echo <password> | sudo -S conda install --yes -c conda-forge skater`

[2019-10-08 04:19] pucktada commented on #286
thanks adimyth... :) that works for me..

[2019-10-21 13:15] zoj613 opened #287 "Cant install on Python 3.7"
The installation fails on Python 3.7.3 on a machine running Ubuntu 18.04.3

[code]

It installs just fine on python 3.6.8. Is there any workaround to this?

[2019-10-23 13:29] fangkuann commented on #287
I met the same problem, have you fixed it?

[2019-10-23 13:35] zoj613 commented on #287
No, I just reverted back to python 3.6.8

[2019-10-24 01:59] fangkuann commented on #287
Thanks, I reverted to 3.6.8 and finally installed successfully.
Which TensorFlow version did you use ?

[2019-10-25 08:34] zoj613 commented on #212
I have this issue too when using xgboost.sklearn API. It never shows anything when I try to generate plots inside a notebook

[2019-11-05 23:13] bonogom commented on #275
I got the same problem and I sovled it with specifying n_job (n_job=1). I guess this issue is related with multiprocessing.

[2019-12-01 05:51] ArpitSisodia opened #288 "[Question] Is there any document summarizing all the algo used and where to use which algo?"
I am doing comparative analysis of all X-ML frameworks- ( aix360, skater, eli5, alibi, h20, ms interpreter, ethical ml, Dalex) .  Is there any presentation, doc, video to understand all the algo used in Skater? Where( based on type of data, deep -learner . local/global explain, etc)  to used which algo? I hope to see sh like  https://github.com/IBM/AIX360

[2019-12-09 13:40] schlunma commented on #287
I have experienced the same issue on multiple machines. Installing with anaconda (`conda install -c conda-forge skater`) as suggested in #286 works, but this is not the latest release (`1.0.2` instead of `1.1.2`).

I got two questions:

- Are there any plans to fix the installation for `python > 3.7` in the near future? Some other packages I need rely on that.
- Are there any plans to update the c

[2020-01-11 18:20] domainoverflow commented on #287
Having the same problem.

[2020-01-12 12:32] domainoverflow commented on #287
Fixed by conda creating a python 3.6.8 version ... cannot use Skater in 3.7.x. thanks.

[2020-01-23 13:42] Naviden commented on #286
I had the same problem, I resolved it like this:
[code]

[2020-01-23 13:53] Naviden opened #290 "can't replicate rule_lists_titanic_dataset.ipynb"
I'm trying to run the **examples/rule_lists_titanic_dataset.ipynb**
I've found a couple of problems which I was able to resolve by doing minor modifications of the code. Unfortunately, I can't pass this line:

`false_predictions = query_for_false_predictions(y_hat, y_new_test)`

which gives the following error:
[code]

The reason is that **y_hat** has a wrong shape, which is coming from :
`_, y_ha

[2020-02-06 15:15] iamyihwa opened #291 "error installing on python3.6"
Hello I am having this issue with installation of Skater.
I have seen similar errors [this](https://github.com/oracle/Skater/issues/287) and [this](https://github.com/oracle/Skater/issues/286) however my error comes from python3.6, I am reporting it as a separate issue.
I am using Python3.6.8.

Building wheel for Skater (setup.py) ... error
  ERROR: Complete output from command /usr/bin/python3.6

[2020-02-12 03:00] nabeel-oz opened #292 "Deprecation issue with upcoming pip 20.2 release"
Installing `skater==1.1.2` with pip on Python 3.6.8 generates the following warning. It sounds like this will turn into an issue with the release of pip 20.2.

[2020-02-20 09:15] aaveshverma commented on #287
you can install skater 1.0.4 install for now.

[2020-02-26 04:52] RPUTHUMA opened #293 "Figure size is not a parameter in plotting feature importance graph"
Figure size is not a parameter in plotting feature importance graph, so what happens is  the plot gets cut sometimes while showing the feature name passed. So if there is a provision to pass the figure size it will be good just like we have in other plots like surrogate and pdp
![expai-fi-Figure(640x480)__ml_version_id_houston_0](https://user-images.githubusercontent.com/49333468/75313045-b17ce800

[2020-02-26 04:53] RPUTHUMA commented on #293
I would like to work on solving this issue , if it gets approved

[2020-03-04 09:12] kasmitharam opened #294 "Skater does not work for very small datasets"
Skater importance does not works for very small dataset raises error .
dataset:Container_Crane_Controller_Data_Set.csv

[2020-03-05 10:24] Dola47 opened #295 "ModuleNotFoundError: No module named 'skater'"
Dear all,

I try to install skater using pip3.6 install -U skater. I have Python(3.6.9).

I get the following build error when after running the aforementioned command [https://www.codepile.net/pile/xO9A25O6](url). Afterward, when I try to import skater I got an error that there is no module called skater. Any ideas how to overcome this issue.

Thanks

[2020-03-08 03:54] RPUTHUMA commented on #293
issue will get resolved with the fix https://github.com/oracle/Skater/pull/297

[2020-03-08 03:54] #293 closed

[2020-03-13 04:34] deveshcode opened #298 "Stuck on the progress bar warning message when using global Interpretation on keras sequential model"
I was able to use skater library functions without much problems for other flavours and models like Random forest, Gradient Booster, Decision Tree etc. to create PDPs and Feature Importances

However, when implementing the same for Sequential Models using keras library, kernel keeps on running with just the initial warning message.

[code]
Is the keras library / neural network models not supported

[2020-03-13 04:38] deveshcode commented on #295
I have gotten a similar failed while building wheel issue in skater. However the install and import should work just as fine.
Could you try with this previous version if you are getting the same issue, to check if this is specific ?
pip install skater==1.0.4

[2020-04-04 08:24] RPUTHUMA opened #299 "option to get title in plot_partial_dependence method of PDP"
option to get title in plot_partial_dependence method of PDP

[2020-04-04 09:46] RPUTHUMA commented on #299
will get resolved with the pull request https://github.com/oracle/Skater/pull/300

[2020-04-05 02:16] #299 closed

[2020-04-20 21:40] mh2t opened #301 "Feature importance does not sum up to one"
I'm getting this error when I train on the **classifier models** on my own dataset. I also set the number of estimators under control, so that I'm sure it sums up to one. But I get same error. Any help would be appreciated.

[2020-05-01 04:47] snthibaud opened #302 "Cannot install skater with BRLC from MacOS"
I am unable to get the Bayesian Rule List classifier to work from MacOS so far. I tried:
- Installing skater with conda -> latest version does not include BRLC
- Installing with pip using `sudo pip install -U --no-deps --force-reinstall --install-option="--rl=True" skater==1.1.2` -> I get:
[code]
It seems that the pip-install refers to `ubuntu`, so perhaps MacOS is not supported?

I also installed

[2020-05-01 11:34] OivindBirk opened #303 "TypeError: 'NoneType' object is not subscriptable - A problem with the n_samples parameter in plot_feature_importance"
I have come across an error in the plot_feature_importance method, relating to the n_samples parameter. When the parameter is set lower than the size of the test set (or train set if the Interpretation object is based on that), the TypeError: 'NoneType' object is not subscriptable, occurs. As long as the n_samples parameter is set higher than the size of the relevant dataset, everything works fine

[2020-05-07 06:55] snthibaud commented on #302
I tried to install it on Ubuntu in a virtual machine - and even then I get:

[code]
Perhaps the install steps in the README are outdated?

[2020-05-08 00:53] snthibaud commented on #302
On Ubuntu 18.04 the install just hangs (using both methods of the readme).

[2020-06-12 11:45] code-dreamer-broker commented on #219
thanks a lot , `pip install skater==1.0.4`  its working for me

[2020-08-28 06:46] ddangu525 commented on #287
Try this. `pip install git+https://github.com/oracle/Skater.git`

[2020-10-23 08:36] SNEHARAMTEKE commented on #263
You can try adding the argument feature_names = list_of_your_feature_names in InMemoryModel. Doing this worked for me!

[2020-10-27 14:57] jrorschach commented on #287
this solved it for me at least ... had a similar issue with Python 3.8.6, Ubuntu 16.04 ... thanks

[2020-11-05 17:42] aliceschi93 opened #306 "ModuleNotFoundError: No module named 'skater.core.global_interpretation.tree_surrogate'"
I'm using Skater on windows 64 with python 3.6 in Anaconda. I'm trying to implement the example on sklearn's breast cancer dataset (https://github.com/oracle/Skater/blob/master/examples/explaining_classification_breast_cancer.ipynb). When I run the command 'from skater.core.global_interpretation.tree_surrogate import TreeSurrogate' I get the error ModuleNotFoundError: No module named 'skater.core.

[2020-11-06 15:54] aliceschi93 commented on #302
I'm not being able to use TreeSurrogate and BRLC on jupyter with anaconda in win64. Does anyone know how to install the complete skater package in windows?

[2020-11-26 19:29] abigesh commented on #306
hi.. Did u rectify tis error?

[2020-11-29 05:40] #287 closed

[2021-01-13 22:20] amaa11 opened #307 "ValueError: Can't get rows for data of type <class 'pandas.core.series.Series'>"
Dear all,

I am using DecisionTreeClassifier and skater.
When I apply skater, I got the error below.
ValueError: Can't get rows for data of type <class 'pandas.core.series.Series'>
I checked both x_train and x_test are  pandas.core.frame.DataFrame while y_train and y_test are numpy.ndarray.
I do not know where is the problem..
Any help please?
Thanks in advance.

[2021-02-09 22:47] TheEdoardo93 commented on #307
The same as you. I've tried with a simple DNN built thorugh TensorFlow and with a simple scikit-learn model.
Env: Python 3.7

[2021-02-09 22:53] TheEdoardo93 commented on #307
I solved my problem by using .values when passing Pandas DataFrame(s) as parameters.
Try to pass NumPy array instead of Pandas DataFrame(s) by using **.values**

[2021-02-09 22:54] TheEdoardo93 commented on #307
The same as you. I've tried with a simple DNN built thorugh TensorFlow and with a simple scikit-learn model.
Env: Python 3.7

I've encountered this error when I'm trying to plot the feature importance.

[EDIT]
I solved my problem by using .values when passing Pandas DataFrame(s) as parameters.
Try to pass NumPy array instead of Pandas DataFrame(s) by using **.values**

[2021-03-27 15:10] Batev opened #308 "Update PyPI because of outdated requirements"
The latest released version (PyPI) of Skater is **1.1.2** but since then the changes made to the repo diverge from the PyPI package. Some of these changes include loosening the requirements, which is really helpful when installing with pip and when using it with other packages that have conflicting dependencies. I will be really thankful if you would update the PyPI package.

[2021-05-30 05:20] alyshav commented on #302
This has worked for me: pip install git+https://github.com/oracle/Skater.git. I found it here: https://github.com/oracle/Skater/issues/287#issuecomment-682358821

[2021-08-29 04:29] richdevboston opened #309 "Out of Memory Errors when skater is called"
As soon as I installed skater for this notebook, the Jupyter NB process starting running out of memory.

I have 16 GB RAM with a GPU running a recently updated version of Windows 10 on Dell Precision 7530.

So it should not be having memory issues like this.    The last time I tried Oracle's Skater program about 2 years ago I had similar issues.

[code]

[2022-01-17 15:00] dimka11 opened #310 "How to install Skater in Kaggle kernel?!"
I try
!pip install skater

but get:

`Collecting skater
  Downloading skater-1.1.2.tar.gz (96 kB)
     |████████████████████████████████| 96 kB 1.1 MB/s eta 0:00:01
Requirement already satisfied: scikit-learn>=0.18 in /opt/conda/lib/python3.7/site-packages (from skater) (0.23.2)
Collecting scikit-image==0.14
  Downloading scikit_image-0.14.0-cp37-cp37m-manylinux1_x86_64.whl (25.3 MB)
     |███████

[2022-01-17 15:04] dimka11 commented on #310
In Google Colab Skater also can't installed

[2022-03-30 01:19] christoferjulio3 opened #313 "Surrogate Tree Explainer "plot_global_decisions" fails to generate"
I try to generate the  Surrogate Tree explainer based on your example code from GitHub but it fails.

Below is the code:

[code]

And this is the error generated from the code:

[code]

Please kindly take a look. Thank you!